:host {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 99999;
    // background: rgb(255, 255, 255);
    // background: rgb(255, 255, 255);
    background: linear-gradient(
        180deg,
        rgba(255, 255, 255, 1) 0%,
        rgba(255, 255, 255, 0) 100%
    );
    .mat-card {
    }
}
