<ng-container *ngIf="loggedIn()">
  <div fxLayoutAlign="end start">
    
  </div>
  <div fxFlex fxLayoutAlign="end start">
    <button mat-icon-button [matMenuTriggerFor]="afterMenu">
      <span class="material-icons">
        settings
      </span>
    </button>
    <mat-menu #afterMenu="matMenu" xPosition="after">
      <button mat-menu-item (click)=logout()>
      New Recipe
      </button>
      <button mat-menu-item (click)=logout()>
        <span class="material-icons">
          exit_to_app
        </span> Log Out
      </button>
    </mat-menu>
  </div>
</ng-container>