.width-100 {
    width: 100%;
}
.allrecipes {
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: space-between;
    // allows the last item in a list to not extend over the remaining space - a nice hack
    &::after {
        content: '';
        flex: 1 2 140px;
    }
}
.recipe-card {
    padding: 0;
    cursor: pointer;
    flex: 1 2 100px;
    display: inline-block;
    margin: 5px;
    margin: 0.25em;
    max-width: 150px;
    min-width: 100px;
    width: 100%;
    max-height: 150px;
    overflow: hidden;
    min-height: 150px;
    min-width: 150px;
    border-radius: 25px;
    object-fit: contain;
    position: relative;

    img {
        flex-shrink: 0;
        min-width: 100%;
        min-height: 100%;
        width: 150%;
        object-fit: cover;
    }
    .mat-card-content {
        /* margin-top: -6em; */
        padding: 0.5em;
        color: antiquewhite;
        position: absolute;
        /* display: flex; */
        bottom: -10px;

        .text-container {
            // background-color: #1b3f48;
            background-color: black;
            padding: 2px;
            display: inline;
        }
    }
}
.mat-card {
    .card-img-container {
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        max-height: 170px;
        width: 100%;

        img {
            flex-shrink: 0;
            min-width: 100%;
            min-height: 100%;
            width: 100%;
        }
    }
}
.allrecipes-loader {
    position: absolute;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5em;
    height: 50%;

    .loader {
        border: 8px solid #f3f3f3; /* Light grey */
        border-top: 8px solid #1b3f48; /* Blue */
        border-radius: 50%;
        width: 50px;
        height: 50px;
        animation: spin 1s linear infinite;
    }

    @keyframes spin {
        0% {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(360deg);
        }
    }
}
