<ng-container>
  <mat-card class='card-container mat-elevation-z0'>
    <div class='recipe-image-container mat-elevation-z8'>
      <img *ngIf='!loading; else loadingTemplate' src='{{recipe.imageSrc}}'>
      <div class='button-container'>
        <button mat-mini-fab color="primary" (click)="onEditClick($event)">
          <mat-icon>edit</mat-icon>
        </button>
        <button class='fab-fav' mat-mini-fab color="warn" aria-label="Favourite">
          <mat-icon>favorite</mat-icon>
        </button>
      </div>
    </div>
  </mat-card>
</ng-container>
<ng-template #loadingTemplate>
  <div class='loader-container'>
    <div class='loader'></div>
  </div>
</ng-template>

<!-- <mat-card class='container-frosted'>
  <mat-card-title>{{recipe.name}}</mat-card-title>
  <mat-card-subtitle>{{recipe.descriptionPrimary}}</mat-card-subtitle>
  <mat-card-subtitle>{{recipe.category.name}}</mat-card-subtitle>
</mat-card> -->
<mat-card class='container-recipe-title mat-elevation-z0'>
  <h1 class='h1-bold'>{{recipe.name}}</h1>
  <p>{{recipe.descriptionPrimary}}</p>
  <section>
    <!-- <div class="button-row mat-elevation-z5">
      <button mat-icon-button color="primary" (click)="onEditClick($event)">
        <mat-icon>edit</mat-icon>
      </button>
      <button mat-icon-button color="secondary" aria-label="Favourite">
        <mat-icon>favorite</mat-icon>
      </button>
      <button mat-icon-button color="warn" (click)="onDeleteClick($event)">
        <mat-icon>delete</mat-icon>
      </button>
    </div> -->
  </section>
</mat-card>
<mat-card class='mat-elevation-z0' style='margin-bottom: 4em; margin-top: -2em;'>
  <mat-tab-group mat-stretch-tabs>
    <mat-tab label="Ingredients">
      <mat-selection-list fxFlex fxLayout='column'>
        <ng-container *ngFor="let ingredient of recipe.ingredients">
          <mat-list-option checkboxPosition="before" value='ingredient.name'>
            <div fxFlex='100' fxLayout='row'>
              <div fxFlex='80'>{{ingredient.name}}</div>
              <div fxFlex='20' style='text-align: right;'>{{ingredient.quantity}} {{ingredient.measure}}</div>
            </div>
          </mat-list-option>
        </ng-container>
      </mat-selection-list>
      <!-- <ng-template #seperatorIngredient>
          <div class='recipe-seperator'>
            <div fxFlex='100'>{{ingredient.name}}</div>
          </div>
        </ng-template> -->
    </mat-tab>
    <mat-tab label="Method">
      <ng-container *ngFor="let methodItem of recipe?.methodItems">
        <div *ngIf="!methodItem.seperator; else seperatorMethodItem" class='recipe-item'>
          <div fxFlex='10'>{{methodItem.stepNo}}.</div>
          <div fxFlex='90'>{{methodItem.text}}</div>
        </div>
        <ng-template #seperatorMethodItem>
          <div class='recipe-seperator'>
            <div fxFlex='90' fxFlexOffset='10'>{{methodItem.text}}</div>
          </div>
        </ng-template>
      </ng-container>
    </mat-tab>
  </mat-tab-group>
</mat-card>
<!-- <mat-card class='mat-elevation-z0 reduce-border'>


  <mat-card-content>
    <h4>Ingredients</h4>
    <ng-container *ngFor="let ingredient of recipe.ingredients">
      <div *ngIf="!ingredient.seperator; else seperatorIngredient" class='ingredient-item'
        style='border-bottom: 0.5px solid #eaeaea; padding: .5em'>
        <div fxFlex='50'>{{ingredient.name}}</div>
        <div fxFlex='50' style='text-align: right'>{{ingredient.quantity}} {{ingredient.measure}}</div>
      </div>
      <ng-template #seperatorIngredient>
        <div class='method-item'>
          <div fxFlex='90' fxFlexOffset='10'>{{ingredient.name}}</div>
        </div>
      </ng-template>
    </ng-container>
  </mat-card-content>
</mat-card> -->
<!-- <mat-card class='mat-elevation-z0 reduce-border'>
  <mat-card-content>
    <h4>Method</h4>
    <ng-container *ngFor="let methodItem of recipe.methodItems">
      <div *ngIf="!methodItem.seperator; else seperatorMethodItem" class='method-item'>
        <div fxFlex='10'>{{methodItem.stepNo}}</div>
        <div fxFlex='90'>{{methodItem.text}}</div>
      </div>
      <ng-template #seperatorMethodItem>
        <div class='method-item'>
          <div fxFlex='90' fxFlexOffset='10'>{{methodItem.text}}</div>
        </div>
      </ng-template>
    </ng-container>
  </mat-card-content>
</mat-card>
<mat-card class='mat-elevation-z0 reduce-border' style='margin-bottom: 4em;'>
  <mat-card-content>

  </mat-card-content>
</mat-card> -->