<mat-card class='mat-elevation-z0' style='margin-left: -20px; margin-right: -20px;'>
  <mat-card-header>
    <mat-card-title>Awesome new recipe</mat-card-title>
    <mat-card-subtitle>Soup</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src='https://material.angular.io/assets/img/examples/shiba2.jpg'>
  <mat-card-content>
    <h4>Ingredients</h4>
    <div class='ingredient-item' style='border-bottom: 0.5px solid #eaeaea; padding: .5em'>
      <div fxFlex='50'>flour</div>
      <div fxFlex='50' style='text-align: right'>4 cups</div>
    </div>
    <div style='border-bottom: 0.5px solid #eaeaea; padding: .5em'>
      <div fxFlex='50'>flour</div>
      <div fxFlex='50' style='text-align: right'>4 cups</div>
    </div>
  </mat-card-content>
</mat-card>
<mat-card class='mat-elevation-z0' style='background-color: aquamarine; margin-left: -20px; margin-right: -20px;'>
  <mat-card-content>
    <h4>Method</h4>
    <div class='ingredient-item' style='border-bottom: 0.5px solid #eaeaea; padding: .5em'>
      <div fxFlex='10'>1</div>
      <div fxFlex='90'>Prepare your ingredients for baking.</div>
    </div>
    <div class='ingredient-item' style='padding: .5em; background-color: yellow'>
      <div fxFlex='10'>2</div>
      <div fxFlex='90'>Prepare your ingredients for baking. Prepare your ingredients for baking. Prepare your
        ingredients for baking.</div>
    </div>
  </mat-card-content>
</mat-card>