.reduce-border {
    margin-left: -10px;
    margin-right: -10px;
}
.button-row {
    text-align: right;
    button {
        margin: 1em 1em;
    }
}
.method-item{
    border-bottom: 0.5px solid #eaeaea; 
    padding: .5em
}