<mat-card class='mat-elevation-z0 reduce-border'>
  <mat-card-title>{{recipe.name}}</mat-card-title>
  <mat-card-subtitle>{{recipe.descriptionPrimary}}</mat-card-subtitle>
  <mat-card-subtitle>{{recipe.category.name}}</mat-card-subtitle>


  <img mat-card-image src='{{recipe.imageSrc}}'>
  <mat-card-content>
    <h4>Ingredients</h4>
    <ng-container *ngFor="let ingredient of recipe.ingredients">
      <div class='ingredient-item' style='border-bottom: 0.5px solid #eaeaea; padding: .5em'>
        <div fxFlex='50'>{{ingredient.name}}</div>
        <div fxFlex='50' style='text-align: right'>{{ingredient.quantity}} {{ingredient.measure}}</div>
      </div>
    </ng-container>
  </mat-card-content>
</mat-card>
<mat-card class='mat-elevation-z0 reduce-border'>
  <mat-card-content>
    <h4>Method</h4>
    <ng-container *ngFor="let methodItem of recipe.methodItems">
      <div class='ingredient-item' style='border-bottom: 0.5px solid #eaeaea; padding: .5em'>
        <div fxFlex='10'>{{methodItem.stepNo}}</div>
        <div fxFlex='90'>{{methodItem.text}}</div>
      </div>
    </ng-container>
  </mat-card-content>
</mat-card>
<mat-card class='mat-elevation-z0 reduce-border'>
  <mat-card-content>
    <section>
      <div class="button-row">
        <button mat-icon-button color="primary" (click)="onEditClick($event)">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button color="secondary" aria-label="Favourite">
          <mat-icon>favorite</mat-icon>
        </button>
        <button mat-icon-button color="warn">
          <mat-icon>delete</mat-icon>
        </button>
      </div>
    </section>
  </mat-card-content>
</mat-card>