@import '../../shared/scss/mixins';
@import '../../shared/scss/shared';

.header-image-container {
    position: relative;
    .header-image-text {
        width: calc(32px + 100%);
        position: absolute;
        bottom: 1em;
        left: 0;
        color: white;
    }
}
// favourite recipes
.mat-card-image {
    margin-bottom: 0;
}
.mat-card-content {
    margin-bottom: 0;
}
// all recipes
.allrecipes {
    display: inline-flex;
    flex-wrap: wrap;
    // allows the last item in a list to not extend over the remaining space - a nice hack
    &::after {
        content: '';
        flex: 1 2 140px;
    }
    .mat-card {
        flex: 1 2 100px;
        display: inline-block;
        margin: 5px;
        margin: 0.25em;
        max-width: 150px;
        min-width: 100px;
        width: 100px;
    }
}
.favouriterecipes {
    .mat-card {
        flex: 1 2 100px;
        display: inline-block;
        margin: 5px;
        margin: 0.25em;
        max-width: 150px;
        min-width: 100px;
        width: 100px;
    }
}
