<div class="example-container">
  <form [formGroup]='formRegister'  (ngSubmit)="register()">
    <mat-form-field appearance="fill">
      <mat-label>Enter your email</mat-label>
      <input matInput placeholder="pat@example.com" formControlName='email' required>
      <mat-error *ngIf="formRegister.errors?.email">Email is not correct</mat-error>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Password</mat-label>
      <input matInput placeholder="pat@example.com" formControlName="password" required>
      <mat-error *ngIf="formRegister.errors?.password">Password must be included</mat-error>
    </mat-form-field>
    <button mat-stroked-button color="primary" type="submit">Register</button>
  </form>
</div>
