<mat-card class='mat-elevation-z0' style='margin-top: 40px; margin-bottom: 40px'>
  <h1>Categories</h1>
  <div fxLayout='column'>
    <form [formGroup]='categoryForm' fxFlex=100 fxLayoutGap="20px">
      <div cdkDropList (cdkDropListDropped)="dropCategory($event)">
        <ng-container *ngFor='let category of getCategories(categoryForm); let i=index'>
          <mat-card cdkDrag cdkDragLockAxis="y">
            <mat-card-content>

              <div [formGroup]='category'>
                <input type="hidden" formControlName='categoryId' #categoryId>
                <input type="hidden" formControlName='imageSrc' #imageSrc>
                <input type='hidden' formControlName='order'>
                <input type='hidden' formControlName='name' #name>
                <div fxLayout='row' style='align-items: center; justify-content: space-between;'>
                  <div fxFlex='50'>{{name.value}}</div>
                  <div fxFlex='20'>
                    <img src='{{imageSrc.value}}'>
                  </div>

                  <div fxFlex='20'><button type='button' mat-icon-button color="primary"
                      (click)="onEditClick(categoryId.value)">
                      <mat-icon>edit</mat-icon>
                    </button>
                  </div>
                  <div fxFlex='10' cdkDragHandle>
                    <mat-icon>drag_indicator</mat-icon>
                  </div>
                </div>
              </div>
            </mat-card-content>
          </mat-card>
        </ng-container>
      </div>
    </form>
  </div>
</mat-card>
  <div class='addButtonContainer'>
    <button mat-fab color="primary" (click)="onNewItem()">
      <span class='material-icons'>add</span>
    </button>
  </div>