<div class='center-page' style='justify-content: space-evenly;'>
  <!-- <div style='text-align: center;'>
    <div class='logo-container'><img src='../../../assets/imgs/logo_white.png'></div>
    <div style='display: flex; justify-content: center;'><h1>Recipe Book</h1></div>
    <p></p>
  </div> -->
  <div class='container-heading'>
    <div fxFlex='70' fxLayout='row'>
      <div fxFlex fxLayout='column'> 
        <h3 style='letter-spacing: 1px'>Welcome to</h3>
        <h1 class='h1-bold'>Recipe Book</h1>
      </div>
    </div>
    <div fxFlex='30' class='container-image'>
      <img src='../../../assets/imgs/logo_white.png'>
    </div>
  </div>
  <mat-card class="container-login">
    <form [formGroup]='formLogin'>
      <!-- <div mat-card-avatar class="example-header-image"></div> -->
      <mat-card-content>
        <div class="example-container">
          <mat-form-field appearance="fill" class='width-100'>
            <mat-label>Enter your email</mat-label>
            <input matInput placeholder="pat@example.com" formControlName='email' required>
            <mat-error *ngIf="formLogin.errors?.email">Email is not correct</mat-error>
          </mat-form-field>
          <mat-form-field appearance="fill" class='width-100'>
            <mat-label>Password</mat-label>
            <input matInput placeholder="pat@example.com" formControlName="password" type='password' required>
            <mat-error *ngIf="formLogin.errors?.password">Password must be included</mat-error>
          </mat-form-field>
        </div>
        <div class='container-button' fxLayout='row' fxLayout.xs='column'>
          <div *ngIf='loggingIn' [class.loader]="loggingIn">Loading...</div>
          <ng-container *ngIf="!loggingIn">
            <button mat-flat-button [disabled]="loggingIn" color="primary" type="submit"
              (click)="login($event)">Login</button>
            <button mat-button [routerLink]="['/register']" type="button">Register</button>
          </ng-container>
        </div>

      </mat-card-content>
    </form>
  </mat-card>
</div>