@import '../../shared/scss/mixins';
@import '../../shared/scss/shared';

.container-login {
    min-width: 150px;
    max-width: 50%;
    width: 100%;
    @include screen(small) {
        max-width: 100%;
    }
}
.container-button {
  display: flex;
  justify-content: center;
}
button {
    width: 50%;
    @include screen(small) {
      width: 100%;
    }
}
