<div class='center-page'>
  <mat-card class="container-login mat-elevation-z0">
    <form [formGroup]='formLogin' (ngSubmit)="login()">

        <!-- <div mat-card-avatar class="example-header-image"></div> -->
        <mat-card-title>Log In</mat-card-title>

      <mat-card-content>
        <div class="example-container">
          <mat-form-field appearance="fill" class='width-100'>
            <mat-label>Enter your email</mat-label>
            <input matInput placeholder="pat@example.com" formControlName='email' required>
            <mat-error *ngIf="formLogin.errors?.email">Email is not correct</mat-error>
          </mat-form-field>
          <mat-form-field appearance="fill" class='width-100'>
            <mat-label>Password</mat-label>
            <input matInput placeholder="pat@example.com" formControlName="password" type='password' required>
            <mat-error *ngIf="formLogin.errors?.password">Password must be included</mat-error>
          </mat-form-field>
        </div>
        <div class='container-button' fxLayout='row'  fxLayout.xs='column'>
          <button mat-flat-button color="primary" type="submit">Login</button>
          <button mat-button [routerLink]="['/register']" type="button">Register</button>
        </div>

      </mat-card-content>
    </form>
  </mat-card>
</div>