<div fxLayout='column' fxLayoutGap="0px" style='margin-top: 40px;'>

  <!--Display random recipe here-->
  <div fxLayout="row" fxLayout.xs="column">

    <!--Display List of recipes that are the most viewed-->
    <!--Display a random category here-->
    <div fxFlexOrder=2 fxFlex="1 1 auto">
      <mat-card class='mat-elevation-z0'>
        <h1 class='h1-bold' style='letter-spacing: 1px'>Categories</h1>
      </mat-card>
      <div class='scrollable-content favouriterecipes'>
        <ng-container *ngFor='let category of categories'>
          <mat-card class='mat-elevation-z0' (click)='onCategoryClick(category.categoryId, category.name)'>

              <div class='category-image-container'>
                <img src='{{category.imageSrc}}'>
              </div>

            <mat-card-footer>
              <h5>{{category.name}}</h5>
            </mat-card-footer>
          </mat-card>
        </ng-container>


      </div>
    </div>

  </div>
</div>