@import '../../../shared/scss/mixins';
@import '../../../shared/scss/shared';


// favourite recipes
.mat-card-image {
    margin-bottom: 0;
}
.mat-card-content {
    margin-bottom: 0;
}

.favouriterecipes {
    .mat-card {
        flex: 1 2 100px;
        display: inline-block;
        margin: 5px;
        margin: 0.25em;
        max-width: 150px;
        min-width: 55px;
        width: 100px;
        .mat-card-footer{
            text-align: center;
        }
    }
}
