.header-image-container {
    position: relative;
    .header-image-text {
        position: absolute;
        bottom: 1em;
        left: 0;
        color: white;
    }
}

.img{
  margin:50px;
  justify-content: space-around;
}
.cardImg{
  object-fit: cover;
  max-height: 10%;
  max-width: 33%;
}